*{
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
}

body, html{

    height: 100%;
    margin: 0%;
    color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



.bg{
    
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.myself{
    
    width: 100%;
 }

.myname{
    font-style:normal;
    text-align: center;
    float: right;
    width: 73%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.myname p{
    margin: 0;
    color: aliceblue;
    font-size: 70px;
    text-shadow: 2px 2px 4px #000000;
    
}


.myimg{
    
    width: 40%;
    position: relative;
    height: 100vh;
    margin-right: 0%;
    float: left;
}

.myimg img{
 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    
    width: 60%;
    max-width: 100%;
    height: auto;
    
}

.myimg img:hover{

    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}

.down-ico{

    width: 10%;
    position: absolute;
    top: 80%;
    bottom: 30%; 
    left: 50%;
    transform: translateX(-40%);
    font-size: 90px;
}

.down-ico span{

    
    font-size: 70%;
    
}

.down-ico a{

    text-decoration: none;
    color: aliceblue;
    
}

.down-ico a:hover{

    color: goldenrod;
}

#about{

    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
}

.myself > p.topic{

    margin-top: 5%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-55%, -50%);
    font-size: 60px;
    font-family:sans-serif;
    
}

.myself > p.descrip{

    margin-top: 20%;
    position: absolute;
    padding-top: 5%;
    top: 38%;
    left: 50%;
    transform: translate(-55%, -50%);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

#resume{

    position: relative;
    height: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.edu{
    position: absolute;
    border-bottom: 2px solid #585b5b;
    height: 15%;
    left: 10%;
    right: 20%;
    top: 5%;
}

.edu > p.edu-topic{

    margin: 0;
    position: absolute;
    top: 10%;
    left: 14%;
    font-size: 30px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    border-bottom: 2px solid #79c3e2;
    
}

.edu-desc-col2{

    display: none;
}

.edu-desc-col2 > p.edu-desc-row1{

    margin: 0;
    position: absolute;
    float: right;
    right: 15%;
    top: 10%;
    color: rgb(51, 50, 50);
}

.edu-desc-col2 > p.edu-desc-row2{

    margin: 0;
    position: absolute;
    float: right;
    top: 27%;
    right: 17%;
    font-size: 18px;
    font-style: oblique;
    color:rgba(250, 235, 215, 0.382);
    
}

.skill{

    position: absolute;
    border-bottom: 2px solid #585b5b;
    height: 60%;
    left: 10%;
    right: 20%;
    top: 7%;
}

.skill > p.skills-topic{

    margin: 0;
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 30px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    border-bottom: 2px solid #79c3e2;

}

.skill > p.htm{

    margin: 0;
    position: absolute;
    float: right;
    right: 49%;
    top: 25.5%;
    color: rgb(31, 29, 29);
    font-size: 20px;
    letter-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

.container-skills {
    width: 50%; 
    background-color: #dddddd9b;
    position: absolute;
    right: 8%;
    top: 32%; 
}

.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
}

.html {
    width: 90%; 
    background-color: #000000;
    

}

.skill > p.cs{

    margin: 0;
    position: absolute;
    float: right;
    right: 51%;
    top: 42.5%;
    color: rgb(31, 29, 29);
    font-size: 20px;
    letter-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.css{

    width: 60%;
    background-color: #000000;
}

.container-skills-cs{

    width: 50%; 
    background-color: #dddddd9b;
    position: absolute;
    right: 8%;
    top: 49%;

}

.skill > p.jsc{

    margin: 0;
    position: absolute;
    float: right;
    right: 43%;
    top: 59.5%;
    color: rgb(31, 29, 29);
    font-size: 20px;
    letter-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container-skills-jsc{

    width: 50%; 
    background-color: #dddddd9b;
    position: absolute;
    right: 8%;
    top: 66%;

}

.js{

    width: 65%;
    background-color: #000000;
}

.skill > p.jav{

    margin: 0;
    position: absolute;
    float: right;
    right: 50%;
    top: 75.5%;
    color: rgb(31, 29, 29);
    font-size: 20px;
    letter-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container-skills-jav{

    width: 50%; 
    background-color: #dddddd9b;
    position: absolute;
    right: 8%;
    top: 82%;

}

.java{

    width: 65%;
    background-color: #000000;
}

.skill > p.mysq{

    margin: 0;
    position: absolute;
    float: right;
    right: 48%;
    top: 92.5%;
    color: rgb(31, 29, 29);
    font-size: 20px;
    letter-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container-skills-mysq{

    width: 50%; 
    background-color: #dddddd9b;
    position: absolute;
    right: 8%;
    top: 99%;

}

.mysql{

    width: 50%;
    background-color: #000000;
}