body, html{

    height: 100%;
    margin: 0%;
    color: black;
}

.bg{

    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.myself{
    width: 100%;
    
    
    
}

.myname{
    font-style: oblique;
    text-align: center;
    float: right;
    width: 50%;
    padding-top: 5%;
}

.myname p{

    color: aliceblue;
    font-size: 40px
    
}

.myimg{
    
    width: 50%;
    flex: auto;
}

.myimg img{

    opacity:85%;
    
}